@use "/src/styles/index.scss" as *;

.user-mentor-banner {
    background: #F4F6F8;
    margin: 1rem 0 0;
    border-radius: 3px;
    box-shadow: $box-shadow2;
    padding: 1rem;
}

.show-user-mentor {
    .display-pic {
        width: 200px;
        height: 200px;
        border-radius: 3px;
        box-shadow: $box-shadow2;
        background: linear-gradient(45deg, $primary-color, $sec-color);
    }
}

.socials {
    span {
        i {
            font-size: 1.1rem;
        }

        a {
            font-size: 0.8rem;
            position: relative;
            top: -2px;
        }
    }
}

.mentor-profile {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    aside {
        width: 50%;
        min-width: 45%;
        padding: 1rem 2rem;
        border: 1px solid #8c8c8c00;
        background: #F4F6F8;
        box-shadow: $box-shadow2;
    }
}

@media screen and (max-width: 800px) {
    .mentor-profile {
        display: block;

        aside {
            width: auto;
            margin: 2rem 0 1rem;
            padding: 0.5rem 1rem;
        }
    }
}