@use './index.scss' as *;

.hero-section {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #trailer {
        width: 500px;
        height: 90vh;
        background: linear-gradient(45deg, $primary-color, $hover-color);
        box-shadow: $box-shadow;
    }

    #atf {
        padding: 0 2rem;

        p {
            font-weight: 700;
            font-size: 1.4rem;
        }

        .benefits {
            margin: 0 0 1rem;

            span {
                display: inline-block;
                margin-right: 2rem;
            }
        }

        button {
            background: $primary-color;
            border: none;
            padding: 0.6rem 4rem;
            margin: 1.5rem 0 0.4rem;
            border-radius: 3rem;
            width: auto;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
        }
    }
}

.features {
    margin: 3rem 0;

    .feature-box {
        border: 2px solid $primary-color;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        background: $lighter;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        div {
            margin: 0 1.5rem;
        }
    }
}

.review {
    text-align: center;
    padding: 0 0 3rem;

    .review-box {
        cite {
            color: #a9a9a9;
        }
    }
}

.mission {
    padding: 2rem 0;
    background: #F6F8FC;

    .mission-box {
        margin: 2rem 3rem 1rem;
        display: flex;
        justify-content: space-between;

        .mission-text {
            margin: 0 2rem;

        }

        .mission-img {
            margin: 0 2rem;
            border-radius: 0.5rem;
            background: linear-gradient(45deg, $primary-color, $hover-color);
            height: 200px;
            width: 100%;
        }
    }
}


// All media queries for go below
@media screen and (max-width: 860px) {
    .hero-section {
        margin: 0;
        display: block;

        #trailer {
            width: auto;
            height: 35vh;
            background: linear-gradient(45deg, $primary-color, $hover-color);
        }

        #atf {
            padding: 1rem 1.5rem;
            text-align: center;

            p {
                font-weight: 700;
                font-size: 1.2rem;
            }

            .benefits {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    i {
                        display: block;
                    }

                    display: inline-block;
                    margin: 0 1rem;
                }
            }

            button {
                background: $primary-color;
                border: none;
                padding: 0.6rem 2rem;
                border-radius: 3rem;
                width: 100%;
            }
        }
    }

    .features {
        .feature-box {
            padding: 0.5rem 0;
            background: $lighter;
            display: block;
            text-align: left;

            div {
                margin: 1rem 1.5rem;
            }
        }
    }

    .mission {
        .mission-box {
            margin: 2rem 0 1rem;
            display: block;

            .mission-text {
                margin: 0 2rem;

            }

            .mission-img {
                margin: 0 2rem;
                border-radius: 0.5rem;
                background: linear-gradient(45deg, $primary-color, $hover-color);
                height: 200px;
                width: auto;
            }
        }
    }

}