// fonts
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Maven+Pro&display=swap');
$font: 'Nabla', cursive;
$font2: 'Maven Pro', sans-serif;
$font3: 'Luckiest Guy', cursive;

// colors
$primary-color: #F6A700;
$hover-color: #ffc74e;
$lighter: #ffefce;

$sec-color: #BD34FE;

// Background
$background: #F6F8FC;

// shodow
$text-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
$box-shadow: 0 25px 50px -12px #BD34FE40;

body {
    background: #fff;
    margin: 0;
    font-family: 'Optimistic Text', -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, ' Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header {
    position: sticky;
    top: 0px;
    background: #000;
    padding: 0 0.8rem;
    color: white;
    z-index: 2;

    #nav-list {
        display: flex;
        align-items: center;

        h1 {
            margin: 0 1rem;
            font-size: 3rem;
            font-family: $font;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

h1 {
    font-family: $font;
}

h2 {
    font-size: 3.5rem;
    font-weight: 900;
    color: $primary-color;
    margin: 0;
}

h3 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #000;
    margin: 0;
}

footer {
    background: $sec-color;
    text-align: center;
    padding: 2rem 0;
    margin: 2rem 0 0;

    p {
        color: #fff;
    }
}






// My Utilities --------------------
.container {
    padding: 0 6rem;
}

.hidden {
    display: inline;
}

.d-block {
    display: block;
}

.time {
    font-size: 10px;
    color: #939393;
    font-weight: 700;
}




// COMPONENT STYLES-----------------

#primary-btn {
    padding: 0.8rem 2rem;
    background: $primary-color;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3rem;
    transition: all .3s;

    &:hover {
        background: $hover-color;
    }
}

.course-card {
    box-shadow: $box-shadow;
    width: 30%;
    margin: 1rem;
    transition: all .3s;
    border-radius: 0.5rem;

    .course-img {
        height: 150px;
        width: 100%;
        background: linear-gradient(45deg, $primary-color, $sec-color);
        border-radius: 0.5rem 0.5rem 0 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .course-detail {
        padding: 5px 10px;
    }

    &:hover {
        box-shadow: 0 25px 50px -12px $primary-color;
    }
}

.article-card {
    background: #fff;
    border-radius: 0.5rem;
    width: 20%;
    margin: 0.5rem;
    padding: 0.4rem 1rem;
    transition: all .3s;
    box-shadow: $box-shadow;

    h4 {
        margin: 0;
    }

    &:hover {
        box-shadow: 0 25px 50px -12px $primary-color;
    }
}



@media screen and (max-width: 860px) {
    header {
        padding: 0 0.4rem;

        #nav-list {
            h1 {
                font-size: 25px;
            }
        }
    }

    .container {
        padding: 0 2rem;
    }

    .hidden {
        display: none;
    }

    #primary-btn {
        padding: 0.4rem 0.9rem;
        font-size: 0.8rem;
    }

    h2 {
        font-size: 2.2rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        color: #000;
        margin: 0;
    }

    .course-card {
        display: flex;
        align-items: center;
        width: auto;
        margin: 0.4rem;

        .course-img {
            border-radius: 2px 0 0 2px;
            min-width: 40%;
            min-height: 100%;
        }
    }

    .article-card {
        width: 100%;
    }
}