// fonts
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap'); // font
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap'); // font2
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); // font3
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); //cursive
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap'); // roboto

:root {
    font-size: 16px;
    scroll-behavior: smooth;
}

$font: 'Alata', sans-serif;
$font2: 'Maven Pro', sans-serif;
$font3: 'Press Start 2P', cursive;
$cursive: 'Abril Fatface', cursive;
$roboto: 'Roboto Mono', monospace;

// colors
$primary-color: #F6A700;
$hover-color: #ffc74e;
$hover-color2: #E66D00;
$lighter: #ffefce;

$sec-color: #BD34FE;
$blue: #bedaec;
$dark: #211502;

// Background
$background: #F6F8FC;

// shadow
$text-shadow: 0 10px 20px #0000004d;

$box-shadow: 0 0px 1px #F6A700, 0 1px 2px #F6A700;
// $box-shadow: 0 25px 50px -5px #BD34FE40;
$box-shadow2: 0 0px 1px #00000033, 0 1px 2px #00000033;
$box-shadow3: 0 0px 1px #00000099, 0 1px 2px #00000033;

body {
    background: #fff;
    margin: 0;
    font-family: 'Optimistic Text', -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont, ' Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body::-webkit-scrollbar {
    width: 0.2rem;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background: $primary-color;
}


h1 {
    font-family: $font;
    color: $primary-color;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
    color: $primary-color;
    margin: 0;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    color: $dark;
    margin: 0;
}

h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: $dark;
    margin: 0;
}

h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(50deg, $primary-color, $sec-color);
}

ul {
    list-style-type: disc;

    li {
        &::marker {
            color: #be34fe7a !important;
        }
    }
}


footer {
    background: #000000;
    padding: 2rem 0 1rem;
    bottom: -5px;
    margin: 0 0 0;

    #footer-quote {
        display: flex;
        align-items: center;

        p {
            color: $hover-color;
        }
    }

    p {
        color: #fff;
    }
}

// Form styles
.form-error {
    font-size: 11px;
    padding: 0.3em 1em;
    width: fit-content;
    font-weight: 600;
    color: #fff;
    background-color: red;
    border-radius: 4px;
}

.form-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.howto {
    width: 50%;
    min-height: max-content;
    background: linear-gradient(45deg, $primary-color, $sec-color);

    .howto-box {
        background: #fff;
        width: 60%;
        margin: 5rem auto;
        padding: 20px;
        box-shadow: $box-shadow;

        .howto-list {
            margin: 2rem 0;
            font-size: 1rem;
        }

        .li {
            display: inline-block;
            margin: 0 0.5rem;
            padding: 5px 10px;
            font-weight: 700;
            border-radius: 40%;
            background: linear-gradient(45deg, $primary-color, $hover-color);
        }
    }
}

form {
    // border: 1px solid green;

    .form-control {
        // border: 1px solid red;
        display: block;

        label {
            font-style: oblique;
            font-size: small;
        }

        input,
        select,
        textarea {
            width: 100%;
            box-sizing: border-box;
            margin: 0.4rem 0;
            padding: 0.2rem 0.4rem;
            transition: all .2s;

            &:hover {
                border-color: $primary-color;
            }

            &:focus {
                border-color: $hover-color2;
            }
        }

        input {
            transition: all .1s;
            border-radius: 10px;
            border: 2px solid #e6e6e6;
            font-size: 1.1rem;
            outline: 0;
            height: 50px;
            display: inline-block;
        }

        #publish {
            display: inline-block;
            position: relative;
            top: 0.3rem;
            width: auto;
            margin: 0 0.5rem;
            padding: 0;
            height: 20px;
            width: 20px;
        }

        select {
            transition: all .1s;
            border-radius: 10px;
            background: #fff;
            border: 2px solid #e6e6e6;
            font-size: 1.1rem;
            outline: 0;
            height: 50px;
            display: inline-block;
        }

        textarea {
            transition: all .1s;
            border-radius: 10px;
            border: 2px solid #e6e6e6;
            font-size: 1.1rem;
            outline: 0;
            height: 250px;
            display: inline-block;
        }
    }

    #submit {
        width: 100%;
        box-sizing: border-box;
        margin: 0.4rem 0;
        border: none;
        width: 100%;
        cursor: pointer;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 1rem 2rem;
        border-radius: 10px;
        background: $primary-color;
        transition: .2s;

        &:hover {
            background: $hover-color2;
            color: #fff;
        }
    }
}

#next-btn {
    width: auto;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background: #000;
}

#notification {
    background: linear-gradient(45deg, #008000ed, #55a555cd);
    position: fixed;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.4rem 0.6rem;
    box-shadow: $box-shadow3;
    border-left: 4px solid $primary-color;
    border-radius: 0 5px 5px 0;
    color: #fff;
    top: 10vh;
    left: 0;
}

.article-body {
    p {
        margin: 0;
        font-size: 16px;
        line-height: 160%;
        padding: 0 6rem;
    }
}

.article-description {
    background: #F4F6F8;
    box-shadow: $box-shadow2;
    border-left: 2px solid #BD34FE;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    font-size: 0.8rem;
}

@media screen and (max-width: 860px) {
    .form-error {
        font-size: 10px;
        width: auto;
        text-align: center;
        background-color: red;
        border-radius: 4px;
        text-align: start;
    }

    .form-container {
        display: block;

        .form {
            margin: 3rem 0;
        }
    }

    form {
        .form-control {
            select {
                transition: all .1s;
                border-radius: 10px;
                border: 2px solid #e6e6e6;
                font-size: 1.1rem;
                outline: 0;
                height: 40px;
                display: inline-block;
                width: 100%;
            }
        }
    }

    .howto {
        width: auto;
        height: fit-content;
        padding: 10px;

        .howto-box {
            width: 80%;
            margin: 5rem auto;
        }
    }

    #notification {
        width: max-content;
    }

    .article-body {
        p {
            padding: 0;
        }
    }

    #primary-btn {
        padding: 0.4rem 0.9rem;
        font-size: 0.8rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 800;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #000;
        margin: 0;
    }

    footer {
        #footer-quote {

            .logo {
                position: relative;
                left: -10px;
            }

            div,
            p {
                margin: 0;
            }

            display: block;
        }
    }
}