@use './index.scss' as *;

.active {
    background: linear-gradient(45deg, $primary-color, $hover-color);
}

#user-layout {
    display: flex;

    #user-navigation {
        width: 10rem;
        padding: 1rem 0.5rem 0;
        height: 100vh;
        position: fixed;
        background: #F7FAFC;
        border-right: 1px solid #e3e3e3;

        a {
            color: #000 !important;
            padding: 0.4rem 0.5rem;
            border-radius: 3px;
            margin: 0.2rem 0;
            width: 90%;
            transition: all .3s ease;
            display: inline-block;

            &:hover {
                // background: linear-gradient(45deg, #bbc7cf, #d7e1e7);
                background: #bbc7cf;
                transition: all .3s ease;
            }
        }
    }


    #outlet {
        margin-left: 10rem;
    }
}

@media screen and (max-width: 900px) {}