@use "../../../styles/index.scss" as *;

.onboard {
    display: flex;
    align-items: center;
    margin: 2rem 0 0;
    gap: 2rem;

    .onboard-card {
        background: $lighter;
        padding: 1rem 2rem;
        border: 2px solid $primary-color;
        border-radius: 5px;
        transition: all .2s ease-out;

        &:hover {
            box-shadow: $box-shadow;
        }

        li {
            list-style-type: circle;
            margin-bottom: 0.5rem;
        }

        button {
            width: 100%;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            background: linear-gradient(45deg, $primary-color, $hover-color);
            outline: 0;
            transition: all .2s;

            &:hover {
                outline: 0.18em solid $sec-color;
                color: $sec-color;
                letter-spacing: 0.05rem;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .onboard {
        display: block;
    }
}