@use '../../../styles/index.scss' as *;

// h4 {
//     font-size: 1.2rem;
// }

#next-btn {
    width: auto;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background: #000;
}

@media screen and (max-width: 850px) {}