@use '../../../styles/index.scss' as *;

h4 {
    font-size: 1.2rem;
}

.form-error {
    font-size: 11px;
    padding: 0.3em 1em;
    width: fit-content;
    font-weight: 600;
    color: #fff;
    background-color: red;
    border-radius: 4px;
}

.form-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.howto {
    width: 50%;
    min-height: max-content;
    background: linear-gradient(45deg, $primary-color, $sec-color);

    .howto-box {
        background: #fff;
        width: 60%;
        margin: 5rem auto;
        padding: 20px;
        border-radius: 10px;
        border-top: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        box-shadow: $box-shadow;

        .howto-list {
            margin: 2rem 0;
            font-size: 1rem;
        }

        .li {
            display: inline-block;
            margin: 0 0.5rem;
            padding: 5px 10px;
            font-weight: 700;
            border-radius: 40%;
            background: linear-gradient(45deg, $primary-color, $hover-color);
        }
    }
}

form {
    // border: 1px solid green;

    .form-control {
        // border: 1px solid red;
        display: block;

        &:hover {
            border-color: $primary-color;
        }

        input {
            margin: 0.4rem 0;
            padding: 0.2rem 0.4rem;
            transition: all .1s;
            border-radius: 10px;
            border: 2px solid #e6e6e6;
            font-size: 1.1rem;
            outline: 0;
            height: 40px;
            display: inline-block;
            width: 96%;
        }

        #publish {
            display: inline-block;
            position: relative;
            top: 0.3rem;
            width: auto;
            margin: 0 0.5rem;
            padding: 0;
            height: 20px;
            width: 20px;
        }

        select {
            margin: 0.4rem 0;
            padding: 0.2rem 0.4rem;
            transition: all .1s;
            border-radius: 10px;
            border: 2px solid #e6e6e6;
            font-size: 1.1rem;
            outline: 0;
            height: 40px;
            display: inline-block;
            width: 97.3%;
        }

        textarea {
            margin: 0.4rem 0;
            padding: 0.2rem 0.4rem;
            transition: all .1s;
            border-radius: 10px;
            border: 2px solid #e6e6e6;
            font-size: 1.1rem;
            outline: 0;
            width: 96%;
            height: 250px;
            display: inline-block;
        }
    }

    #submit {
        width: 100%;
        border: none;
        cursor: pointer;
        font-size: large;
        padding: 1rem 2rem;
        border-radius: 10px;
        background: $primary-color;

        &:hover {
            background: $hover-color;
        }
    }
}

#next-btn {
    width: auto;
    color: #fff;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background: #000;
}

@media screen and (max-width: 850px) {
    .form-error {
        font-size: 10px;
        width: auto;
        text-align: center;
        background-color: red;
        border-radius: 4px;
        text-align: start;
    }

    .form-container {
        display: block;

        .form {
            margin: 3rem 0;
        }
    }

    form {
        text-align: center;

        .form-control {
            display: inline-block;
            width: 94%;
        }

        #submit {
            width: 96%;
        }
    }

    .howto {
        width: auto;
        height: fit-content;
        padding: 10px;

        .howto-box {
            width: 80%;
            margin: 5rem auto;
        }
    }
}