@use '../../../styles/index.scss' as *;

.guest-articles {
    .outlet-box {
        display: flex;
        justify-content: center;
        margin: 0 auto;

        .outlet {
            padding-right: 2rem;
            width: 70%;
        }

        aside {
            padding-left: 2rem;
            width: 30%;
            border-left: 1px solid #d4d4d4;

            p {
                font-weight: 600;
            }
        }

    }
}

@media screen and (max-width: 800px) {
    .guest-articles {
        .outlet-box {
            display: block;

            .outlet {
                padding: 1rem;
                width: 90%;
            }

            aside {
                padding: 1rem;
                width: 90%;
                border: none;
            }

        }
    }
}